In [ ]:
#Reading csv
import pandas as pd
economy = pd.read_csv("D:\\Pakistan economy and GDP Sectors(1).csv" ,na_values=["NaN","Na"])
economy.head(2)

In [49]:
economy.tail()

,Year,Small Scale Manufacturing,Large Scale Manufacturing,Slaughtering Manufacturing,Fishing,Livestock,Crops,Forestry,Total Agriculture,Cotton Ginning,...,Wholesale & Retail Trade,Services Total,Income Per Capita,GDP Current Prices,GDP Constant Prices,Income Per Capita.1,Gross public Dept,Domastic Debt,Na,Gross Public Debt
12,2010,0.014,0.113,0.009,0.006,0.119,0.091,0.005,0.220,0.007,...,0.032,0.2242,1072.4,14248547,8801394,1072.4,0.3539,0.313,NaN,9010.364437
13,2009,0.013,0.115,0.009,0.006,0.118,0.097,0.005,0.225,0.007,...,NaN,NaN,NaN,12542265,8579987,NaN,NaN,NaN,NaN,NaN
14,2008,0.012,0.123,0.009,0.006,0.116,0.093,0.005,0.219,0.007,...,NaN,NaN,NaN,10355255,8549148,NaN,NaN,NaN,NaN,NaN
15,2007,0.012,0.122,0.009,0.005,0.117,0.098,0.004,0.225,0.007,...,NaN,NaN,NaN,8735766,8142696,NaN,NaN,NaN,NaN,NaN
16,2006,0.012,0.117,0.009,0.006,0.121,0.099,0.005,0.230,0.008,...,NaN,NaN,NaN,7715777,7715777,NaN,NaN,NaN,NaN,NaN

In [46]:
economy.shape

(17, 28)

In [12]:
economy.columns

Index(['Year', 'Small Scale Manufacturing', 'Large Scale Manufacturing',
       'Slaughtering Manufacturing', 'Fishing', 'Livestock', 'Crops',
       'Forestry', 'Total Agriculture', 'Cotton Ginning', 'Important Crops',
       'Other Crops', 'Finance & Insurance', 'General Government Services',
       'Housing Services', 'Other Private Services', 'Transport',
       ' Storage & Communication', 'Wholesale & Retail Trade',
       'Services Total', 'Income Per Capita', 'GDP Current Prices',
       'GDP Constant Prices', 'Income Per Capita.1', 'Gross public Dept',
       'Domastic Debt', 'Na', 'Gross Public Debt'],
      dtype='object')

In [14]:
slice_one=economy.loc[[0,1,4],["Year","Large Scale Manufacturing"]]
slice_one

   Year  Large Scale Manufacturing
0  2022                     0.0924
1  2021                     0.0886
4  2018                     0.0934

In [17]:
slice_two=economy.loc[0:2,"Year":"Large Scale Manufacturing"]
slice_two

   Year  Small Scale Manufacturing  Large Scale Manufacturing
0  2022                     0.0198                     0.0924
1  2021                     0.0193                     0.0886
2  2020                     0.0187                     0.0840

In [36]:
economy.isnull()
economy.head(2)

,Year,Small Scale Manufacturing,Large Scale Manufacturing,Slaughtering Manufacturing,Fishing,Livestock,Crops,Forestry,Total Agriculture,Cotton Ginning,...,Wholesale & Retail Trade,Services Total,Income Per Capita,GDP Current Prices,GDP Constant Prices,Income Per Capita.1,Gross public Dept,Domastic Debt,Na,Gross Public Debt
0,2022,0.0198,0.0924,0.0121,0.0032,0.1404,0.0784,0.0049,0.2268,0.0029,...,0.0619,0.3318,1797.5,62677555,38755090,1797.5,NaN,NaN,NaN,PKR (Billions)
1,2021,0.0193,0.0886,0.0121,0.0033,0.1441,0.0780,0.0048,0.2302,0.0028,...,0.0600,0.3611,1676.5,52213299,36572644,1676.5,0.4,0.55,NaN,39859

In [44]:
economy.dropna(axis=0, inplace=  False).shape

(17, 28)

In [41]:
economy.fillna(0,inplace=True)
economy.tail()

,Year,Small Scale Manufacturing,Large Scale Manufacturing,Slaughtering Manufacturing,Fishing,Livestock,Crops,Forestry,Total Agriculture,Cotton Ginning,...,Wholesale & Retail Trade,Services Total,Income Per Capita,GDP Current Prices,GDP Constant Prices,Income Per Capita.1,Gross public Dept,Domastic Debt,Na,Gross Public Debt
12,2010,0.014,0.113,0.009,0.006,0.119,0.091,0.005,0.220,0.007,...,0.032,0.2242,1072.4,14248547,8801394,1072.4,0.3539,0.313,0.0,9010.364437
13,2009,0.013,0.115,0.009,0.006,0.118,0.097,0.005,0.225,0.007,...,0.000,0.0000,0.0,12542265,8579987,0.0,0.0000,0.000,0.0,0
14,2008,0.012,0.123,0.009,0.006,0.116,0.093,0.005,0.219,0.007,...,0.000,0.0000,0.0,10355255,8549148,0.0,0.0000,0.000,0.0,0
15,2007,0.012,0.122,0.009,0.005,0.117,0.098,0.004,0.225,0.007,...,0.000,0.0000,0.0,8735766,8142696,0.0,0.0000,0.000,0.0,0
16,2006,0.012,0.117,0.009,0.006,0.121,0.099,0.005,0.230,0.008,...,0.000,0.0000,0.0,7715777,7715777,0.0,0.0000,0.000,0.0,0